* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}

body, html {
    font-family: 'Open Sans',sans-serif;  
    color: #484848;
    width: 100%;  
    float: left;
}

@media only screen and (max-width:767px) {
    
}
