/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: 'Lato', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset */

@media only screen and (max-width: 1023px) {
	.img-logo {
		display: none;
	}

	.img-mobile {
		position: relative;
		text-align: center;
		margin-top: 10px;
	}

	nav {
		padding: 15px 0 0;
	}

	nav ul li {
		position: relative;
	}

	nav ul li a,
	nav ul li a:visited {
		display: block;
	}

	nav ul li a:hover,
	nav ul li a:visited:hover {
		background: #243b04;
		color: #fff;
	}

	.nav-mobile {
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
	}

	.nav-mobile {
		display: block;
	}

	nav ul {
		display: none;
	}

	nav ul li {
		text-align: center;
	}

	nav ul li a {
		padding: 15px;
	}

	#nav-toggle {
		position: absolute;
		left: 12px;
		top: 16px;
		padding: 16px 39px 20px 4px;
		border: 1px solid #b0b0b0;
		border-radius: 5px;
	}

	#nav-toggle span,
	#nav-toggle span:before,
	#nav-toggle span:after {
		height:3px;
		width: 35px;
		background: #b0b0b0;
		position: absolute;
		display: block;
		content: '';
		transition: all 300ms ease-in-out;
	}

	#nav-toggle span:before {
		top: -10px;             
	}

	#nav-toggle span:after {
		bottom: -10px;
	}

	#nav-toggle.active span {
		background-color: transparent;
	}

	#nav-toggle.active span:before,
	#nav-toggle.active span:after {
		top: 0;
	}

	#nav-toggle.active span:before {
		transform: rotate(45deg);
	}

	#nav-toggle.active span:after {
		transform: rotate(-45deg);
	}

}

@media only screen and (min-width: 1024px) {
	.img-mobile {
		display: none;
	}

	.img-logo {
		vertical-align: middle;
	}

	.menu {
		height: 84px;
		position: relative;
		box-shadow:  inset 0px -5px 9px -7px #243b04;
		-webkit-box-shadow: inset 0px -5px 9px -7px #243b04;
  		-moz-box-shadow: inset 0px -5px 9px -7px #243b04;	
	}

	.nav-list {
		top: 0;
		position: relative;
		text-align: center;
		padding-top: 15px;
	}
	.nav-list li {
		display: inline;
		font-weight: 100;
		padding: 10px;
		font-size: 15px;
		color: #243b04;
	}

	nav ul li a:hover,
	nav ul li a:visited:hover {
		color: #b20a1d;
	}
}

nav ul li a {
	text-decoration: none;
	color: #243b04;
	font-weight: 500;
	padding: 7px;
}

/* ==== Main CSS === */
.img-fill{
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: left;
}

.img-fill img {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.Grid1k {
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
}

.blocks-box,
.slick-slider {
    margin: 0;
    padding: 0!important;
}

.slick-slide {
    float: left /* If RTL Make This Right */ ;
    padding: 0;
}

/* ==== Slider Style === */
.Modern-Slider .item .img-fill{
    height:60vh;
}

.Modern-Slider .item .img-fill .info{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background:rgba(255,255,255,.10);
    line-height:50vh;
    text-align:center;
}

.Modern-Slider .item .info > div{
    display:inline-block;
    vertical-align:middle;
    padding-right: 55%;
}

.Modern-Slider .item h3{
    font:30px DINPro;
    text-transform:uppercase;
    color:#b20a1d;
    animation:fadeOutRight 1s both;
    margin:0;
    padding:0;
    text-align: left;
    line-height: 32px;
    font-weight: 100;
}

.Modern-Slider .item.slick-active h3{
    animation:fadeInDown 1s both 1s;
}

.Modern-Slider .item.slick-active{
    animation:Slick-FastSwipeIn 1s both;
}

/* ==== Slick Slider Css Ruls === */
.slick-slider{position:relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}.slick-list.dragging{cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left /* If RTL Make This Right */ ;height:100%;min-height:1px}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}

.slick-dots {
    display: none !important;
}

.flickity-page-dots {
    bottom: 25px;
}

.flickity-page-dots .dot.is-selected {
    background: #b20a1d;
}

@media only screen (max-width: 1023px) {
	/* ==== Slider Style === */
	.Modern-Slider .item .img-fill{
		height:30vh !important;
	}

	.img-fill img {
		position: relative;
		display: inline-block;
		max-height: 100%;
	}

	.imagem-mascara {
		width:80%; /* largura da imagem mÃ¡scara */
		height:370px; /* altura da imagem mÃ¡scara */
		position:absolute;
		bottom:5px;
		left:-14px;
		filter: blur(20px);
	}

	.Modern-Slider .item h3{
		font: 20px DINPro !important;
	}

	.Modern-Slider .item .info > div{
		padding-right: 30% !important;
		padding-top: 65px !important;
		margin-left: 18px;
		display: table !important;
	}

	/* ==== Slider Style === */

	.text h1 {
		text-transform: uppercase;
		font-size: 23px;
		padding-top: 20px;
	}

	.img-mobile {
		position: relative;
		text-align: center;
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 1023px) {
	.img-fill img {
		position: relative;
		display: inline-block;
	}
}

.img-fill img {
	max-height: 100%;
}

.title-section {
	text-align: center;
	color: #243b04;
	padding: 80px 0 20px 0;
	font-size: 26px;
	font-weight: 400;
}

.text p {
	padding: 5px 15px;
	font-weight: 300;
	font-size: 18px;
}

@media only screen and (min-width: 1024px) {
	.text p {
		padding: 10px 80px;
		font-size: 18px;
	}

	.text {
		padding: 10px 0;
	}

	.title-section {
		padding: 100px 0 40px 0;
		font-size: 26px;
		font-weight: 300;
	}
}

.container {
	position: relative;
}

@media (min-width: 1200px) {
	.container {
		   max-width: 1170px;
	}
}

@media (min-width: 768px) {
	.container {
		   height: 400px;
	}
}


.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.col_one_third {
	display: block;
    position: relative;
    margin-bottom: 50px;
    float: left;
}

.col_one_third {
	width: 33.3%;
	padding: 1.5%
}

.feature-box.media-box {
    padding: 0;	
}	

.fbox-media {
	
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}

.fbox-media img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

@media (max-width: 767px) {
	.col_one_third{
	width: 100%;
    margin-right: 0;
    float: none;
    margin-bottom: 50px !important;
	}
}

.fbox-desc {
	text-align: center;
}

h3 {
	color: #e6265c;
	padding: 20px 0 15px 0;
}

.style-border { 
	width: 25%;
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

#page_contact_form {
	padding: 0 80px;
}

.page_contact_form {
    width: 100%;
    float: left;
    margin-bottom: 40px;
}

.page_contact_form li {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.page_contact_form li .input-text {
    width: 100%;
    height: 50px;
    line-height: 30px;
    border: 1px solid #dedede;
    float: left;
    background-color: #fcfcfc;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 16px;
}

.page_contact_form li {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

@media only screen and (min-width: 1024px){
	.form-email, .form-tel {
		width: 50% !important;
	}
	.form-email {
		padding-right: 10px;
	}
}

.page_contact_form textarea {
    width: 100%;
    height: 150px;
    float: left;
    border: 1px solid #dedede;
    background-color: #fcfcfc;
    color: #484848;
    font-family: arial;
    font-size: 12px;
    line-height: 18px;
    padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
    font-size: 16px;
}

.input-button {
    width: 90px;
    height: 30px;
    float: right;
    border: 0px;
    font-size: 16px;
    background-color: #e6265c;
    color: #fff;
}